 *{
    box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f1f5f9;
  color: bisque;
  font-family: Arial, Helvetica, sans-serif;
}

/* organização geral da pagina */

.layout-pagina {
    display: grid;

    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer"
    ;

    grid-template-columns: 22px ifr;
    grid-template-rows: auto ifr auto;

    min-height: 100vh;
}

/*cabeçalho*/

.cabecalho {
    grid-area: header;

    background-color: blueviolet;
    color: blanchedalmond;
    padding: 25px;
    text-align: center;
}

.cabecalho h1{
    margin: 0 0 10px;
}

.cabecalho p{
    margin: 0;
}

/* menu da lateral esquerda */

.barra-lateral {
    grid-area: sidebar;

    background-color: aquamarine;
    padding: 20px;
}

.barra-lateral h2{
    color: aqua;
}

.barra-lateral ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.barra-lateral li{
    margin-bottom: 10px;
}

.barra-lateral a{
    display: block;
    background-color: blue;
    color: bisque;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
}

.barra-lateral a:houver{
    background-color: beige;
}

/* grid dos cards */

.grid.principal {
    grid-area: main;
    padding: 30px;
}

.grid-principal h2 {
    margin-top: 0;
    color: #173f6d;
}

.grid-cards{
    display: grid;

    grid-template-columns: repeat(auto-flit, minmax(300px, 1fr));

    gap: 2rem;  
}

.card{
    background-color: #173f6d;
    padding: 1rem;
    border: 1px solid beige;
    border-radius: 1rew;
    box-shadow: 0 3px 8px black;
}

.card h3{
    margin-top: 0;
    color: wheat; 
}

.card p{
    line-height: 1.5;
}

.card a{
     display: block;
    background-color: blue;
    color: bisque;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
}

.card a:hover{
    background-color: bisque;
}

/* rodape */

.rodape{
     grid-area: footer;
     

     background-color: black;
     color: beige;
     padding: 1rew;
     text-align: center;
}
